<h1>Bookmark Manager</h1>

<form action="/users/new" method="get">
  <input type="submit" value="Sign Up">
</form>

<form action="/bookmarks" method="get">
  <input type="submit" value="View Bookmarks">
</form>
