<% @bookmarks.each do |bookmark| %>
  <ul>
    <li><a href="<%= bookmark.url %>"><%= bookmark.title %></a></li>
  </ul>
<% end %>

<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add bookmark">
</form>
